# Copyright 2021 Xilinx Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
Checks: >
  *,
  -altera-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia-*,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -modernize-use-trailing-return-type
#
# Disabled checks:
#
# altera-*
#   These guidelines are particular to altera and unnecessary here
#
# cppcoreguidelines-non-private-member-variables-in-classes
#   We allow protected member variables in virtual classes.
#
# cppcoreguidelines-pro-bounds-pointer-arithmetic
#   We use pointer math to get at underlying buffer data
#
# cppcoreguidelines-pro-type-reinterpret-cast
#   Sometimes used in type-invariant buffer data
#
# fuchsia-*
#   These guidelines are particular to Fuchsia and unnecessary here
#
# google-runtime-references
#   Flags non-const reference parameters but this is fine (assume caller modifies)
#
# hicpp-no-array-decay
#   Alias for cppcoreguidelines-pro-bounds-array-to-pointer-decay
#
# hicpp-signed-bitwise
#   This check is needlessly pedantic (https://stackoverflow.com/a/58845898)
#
# llvm-header-guard
#   Doesn't seem to be satisfied easily
#
# llvmlibc-*
#   These guidelines are particular to llvm-libc and unnecessary here
#
# misc-non-private-member-variables-in-classes
#   Alias for cppcoreguidelines-non-private-member-variables-in-classes
#
# misc-unused-parameters
#   This gets triggered too often on virtual functions that are unimplemented
#
# modernize-use-trailing-return-type
#   Not using trailing type syntax here

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     google
CheckOptions:
  - key:   cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: '1'
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key:   hicpp-member-init.IgnoreArrays
    value: '1'
  - key:   hicpp-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
  - key:   readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassConstantPrefix
    value: k
  - key:   readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ClassMemberSuffix
    value: _
  - key:   readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key:   readability-identifier-naming.ConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.ConstantPrefix
    value: k
  - key:   readability-identifier-naming.ConstantMemberCase
    value: CamelCase
  - key:   readability-identifier-naming.ConstantMemberPrefix
    value: k
  - key:   readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ConstantPointerParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ConstexprFunctionCase
    value: camelBack
  - key:   readability-identifier-naming.ConstexprMethodCase
    value: camelBack
  - key:   readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key:   readability-identifier-naming.ConstexprVariablePrefix
    value: k
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantPrefix
    value: k
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key:   readability-identifier-naming.GlobalConstantPointerCase
    value: CamelCase
  - key:   readability-identifier-naming.GlobalConstantPointerPrefix
    value: k
  - key:   readability-identifier-naming.GlobalFunctionCase
    value: camelBack
  - key:   readability-identifier-naming.GlobalPointerCase
    value: lower_case
  - key:   readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key:   readability-identifier-naming.InlineNamespaceCase
    value: lower_case
  - key:   readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key:   readability-identifier-naming.LocalConstantPointerCase
    value: lower_case
  - key:   readability-identifier-naming.LocalPointerCase
    value: lower_case
  - key:   readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key:   readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.MemberCase
    value: lower_case
  - key:   readability-identifier-naming.MemberSuffix
    value: _
  - key:   readability-identifier-naming.MethodCase
    value: camelBack
  - key:   readability-identifier-naming.NamespaceCase
    value: lower_case
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ParameterPackCase
    value: lower_case
  - key:   readability-identifier-naming.PointerParameterCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key:   readability-identifier-naming.PrivateMethodCase
    value: camelBack
  - key:   readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key:   readability-identifier-naming.ProtectedMethodCase
    value: camelBack
  - key:   readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PublicMemberSuffix
    value: _
  - key:   readability-identifier-naming.PublicMethodCase
    value: camelBack
  - key:   readability-identifier-naming.ScopedEnumConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.StaticConstantPrefix
    value: k
  - key:   readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key:   readability-identifier-naming.TypedefCase
    value: CamelCase
  - key:   readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.UnionCase
    value: CamelCase
  - key:   readability-identifier-naming.ValueTemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.ValueTemplateParameterPrefix
    value: k
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.VirtualMethodCase
    value: camelBack
...
